

<main class="masthead" id="" role="main">
	<div class="container">
		<h1 class="slogan text-center">Muévete con nosotras</h1>
		<h2 class="claim text-center">Conoce y alquila lugares acogedores para chicas en todas las partes del mundo.</h2>
		<p class="question text-center">¿Dónde quieres ir?</p>
		<div class="action text-center">
			<select class="form-control select-city">
					  <option>Mallorca, España</option>
					  <option>Sitges, España</option>
					  <option>Madrid, España</option>
					  <option>Barcelona, España</option>
					  <option>Buenos Aires, España</option>
			</select>
		</div>
	</div>
	
</main>

<section id="city-people">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="discovery-card" style="background-image: url('/assets/mallorca.jpg')">
				</div>
			</div>
		</div>
	</div>
</section>